/* This is the start of the CSS stylesheet */
h1 {
    color: navy;
    margin-left: 20px;
    display: flex;
    position: static;
}
#present {
    color: #00ff00;
    position: relative;
}
#absent {
    color: hsl(30, 100%, 50%);
}
#unfinished {
    color: rgb(222, 13, 184);
}
#attendance {
    color: white;
    background-color: black;
}
ul[id="attribute-list"] {
    margin-top: auto;
    margin-bottom: 40px;
    margin-left: 4em;
    margin-right: 10cm;
    padding-left: .3in;
    padding-right: 1pc;
    padding-top: 1ex;
    padding-bottom: 20vw;
}
* {
    background-color: cornsilk;
}
button:hover {
    color: blue;
}
button:active {
    background-color: green;
}
#schedule {
    padding: 3ex;
    margin: 3ex;
    border-radius: 10cm;
    border-color: blue;
    border-width: 10cm;
    border-style: dashed;
}
#attribute-list, p {
    text-decoration: dotted;
    text-align: left;
    color: green;
    display: block;
}
#survey-intro {
    height: auto;
    width: auto;
    max-width: auto;
    min-width: none;
}
